:root{
    --textColor:#1c1c1cff;
    --bgColor:#cbb994ff;
    --hoverText: #d7c9acff;
    --coffee: #b39761ff;
}
*, ::after, ::before{
    box-sizing: border-box;
}
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    scroll-behavior: smooth;
}
html, body{height: 100%;}
body{
    padding: 0;
    margin: 0;
    background-color: var(--coffee);
    background-image: url(/resources/noise.webp);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
    flex-direction: column;
}
section{
    padding: 25px;
    display: flex;

}
::selection{
    color: var(--hoverText) ;
    background: var(--textColor);
}
a{
    color: var(--textColor);
    text-decoration: none;
}
a::selection{
    color: var(--hoverText);
    background-color: var(--textColor);
}
a:hover{
    color: var(--hoverText);
    background-color: var(--textColor);
}
nav{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;  
    padding-right: 200px;

    color: var(--textColor);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 1;  

    border-style: solid;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    color: var(--textColor);

    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
}
.highlight{
    background-color: var(--textColor);
    content: "You are here";
    color: var(--hoverText);
}
#Group2, p{
    margin-top: 0;
    margin-bottom: 0;
}
.navMenu{
    display: flex;
    flex-direction: row;
}
    
.navItem{
    padding-left: 16px;
    padding-right: 16px;
    margin: 0;
    align-content: center;
}

/*body*/

.Frame{
    padding: 50px;
    padding-top: 10%;
    display: flex;
    flex-direction: row;
}
h1{
    font-size: 24px;
}
p{
    font-size: 16px;
}
.container{
    margin: auto;
    overflow: hidden;
}
.active, .listItem:hover{
    color: var(--hoverText) ;
    background: var(--textColor);
}
/*first section*/
.GroupPresentation{
    width: 70%; 
    gap: 2%; 
    margin-right: 20px;
    
}
.GroupPresentation2{
    display: flex; 
    flex-direction: column; 
    width: 30%; 

}
.solidRep{
    background-color: var(--textColor);
    color: var(--hoverText);
    border-style: solid;
    border-color: var(--textColor);
    padding: 5px;
}
.inverse::selection{
    color: var(--textColor) ;
    background: var(--hoverText);
}
.Box{
    display: flex;
    flex-direction: column; 
    padding: 20px;
    border-style: solid;
    color: var(--textColor);
    background-image: linear-gradient(to right, rgba(215, 201, 172, 0.753), rgba(179, 152, 97, 0.520));
    gap: 10px;
}
.Topic{
    height: 20%;
    display: flex;
    align-items: center;
}
.intro{height: 80%;}
.tableOfContents{
    display: flex; 
    flex-direction: column; 
    width: 100%; 
    padding: 10px;
    margin-bottom: 0;
    z-index: 10;
    border-style: dashed;
    border-top: solid;
    color: var(--textColor);
}
.prime{margin-bottom: 20px;}

.Bg1{
    width: 100%;
    height: 250px;
    background: var(--hoverText);
    filter: blur(70px);
    z-index: 0;
    padding: 10px;
    align-self: center;
}
.tableOfContents .Bg-toc,
.tableOfContents .Fg-toc{
    box-sizing: border-box;
    flex: none;
}
.tableOfContents .Fg-toc{
    margin-top: -250px;
    z-index: 10;
}
.contentBox{
    height: 70vh;
    margin-top: 10%;
    margin-bottom: 10%;
}
.toc2Container{width: 30%;}
.Head{
    padding: 5px;
    background-color: var(--textColor);
    border-style: solid;
    color: var(--hoverText);
    border-color: var(--textColor);
}
.toc2{
    display: flex;
    flex-direction: column;
    height: 100%;
    border-style: solid;
    color: var(--textColor);
    padding: 5px;
    overflow: hidden;
}
.tocItem{
    display: none;
}
.contentPackage{
    width: 70%;
    margin-left: 10px;
}
.contentContainer{
    height: 100%;
    overflow-y: scroll; 
    border-style: solid;
    border-color: var(--textColor);
    scroll-behavior: smooth;
}
.content{
    height: 80vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    color: var(--textColor);
    border-left: hidden;
    border-right: hidden;
    border-top: hidden;
}
.content img{
    height: 40%;
    align-self: flex-end;
    margin: 10px;
    margin-top: 30px;
}
img{border-style: dashed; color: var(--textColor);}
.topicNtext{
    height: 60%;
}
@media only screen and (max-width: 760px){
    .Frame{
        padding: 25px;
        padding-top: 25%;
        flex-direction: column;
    }
    .GroupPresentation {
        margin: 10px;
        width: 100%;
    }
    .GroupPresentation2{
        margin: 10px;
        width: 100%;
    }
    .toc2{

        visibility: hidden;
        height: 0;
        width: 0;
    }
    .contentContainer{
        width: 100%;
        margin: 0;
    }
    .contentPackage{
        width: 100%;
    }
    .toc2Container,
    .toc2Container .Head{
        visibility: hidden;
        width: 0;
        height: 0;
    }
    .topicNtext{
        height: 70%;
    }
    .content img{
        height: 30%;
    }
}
